<div class="container"
     fxLayout="row"
     fxLayout.sm="colum"
     fxLayout.xs="colum"
     fxLayoutAlign.gt-md="letf"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="60">

    <mat-grid-list cols="2" bind-rowHeight="'800px'" [gutterSize]="'5px'">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title><h1>{{ITEM.name}}</h1></mat-card-title>
            <img matCardImage src="">
          </mat-card-title-group>
          <img matCardImage src={{ITEM.image}}>
          <mat-card-content>
            {{ITEM.description}}
          </mat-card-content>
          <mat-card-actions align="start">
            <button mat-button (click)="onAction($event)">LIKE</button>
            <button mat-button (click)="onAction($event)">SHARE</button>

          </mat-card-actions>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card >
          <mat-card-header>
            <mat-card-title><h1>Comments</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list *ngFor="let comment of ITEM.comments">

              <mat-list-item >
                {{comment.comment}} <br>
                {{comment.rating}}<br>
                {{comment.author}}
                {{comment.date | date}} <br>
              </mat-list-item>
              <br>
            </mat-list>
          </mat-card-content>

        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
