<!--<div class="container" fxLayout="column" fxLayoutGap="10px">
  <mat-list fxFlex>
    <mat-list-item *ngFor="let item of items">
      {{item}}
      <img matListAvatar [src]=item.image alt={{item.name}}>
      <h1 matLine>{{item.name}}</h1>
    </mat-list-item>
  </mat-list>

  <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let item of items" [colspan]="1" [rowspan]="1">
      <img height="200px" src={{item.image}} alt={{item.name}}>
      <mat-grid-tile-footer>
        <h1 mat-line>{{item.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

  <div fxFlex *ngIf="selectedItem">
    <mat-card>
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>{{selectedItem.name}}</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <img matCardImage src="Side image">
        </mat-card-title-group>
        <img matCardImage src="Card wide image source">
        <mat-card-content>
          Text content
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button (click)="onAction($event)">Action1</button>
          <button mat-button (click)="onAction($event)">Action2</button>

        </mat-card-actions>
        <mat-card-footer>
          Footer
        </mat-card-footer>
      </mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{selectedItem.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <img matCardImage src={{selectedItem.image}} alt={{selectedItem.name}}>
      <mat-card-content>
        <p>{{selectedItem.description}}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="onAction($event)">LIKE</button>
        <button mat-button (click)="onAction($event)">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>



  <mat-list fxFlex> &lt;!&ndash; fxFlex indica que sera tratado como una pieza de contenido&ndash;&gt;
    <mat-list-item *ngFor="let item of items">
      <img mat-list-avatar src={{item.image}} alt={{item.name}}>
      <h1 mat-line> {{item.name}} </h1>
      <p mat-line>
        <span> {{item.description}} </span>
      </p>
    </mat-list-item>
  </mat-list>

</div>-->
<mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
  <mat-grid-tile *ngFor="let item of items" (click)="onSelect(item)">
    <img height="200px" src={{item.image}} alt={{item.name}}>
    <mat-grid-tile-footer>
      <h1 mat-line>{{item.name | uppercase}}</h1>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<app-item-detail [item]="selectedItem"></app-item-detail>

